@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-bg: #171b2a;
  --color-primary: #bda179;
  --color-gray: #7b7b7b;
  --color-white: #fff;
  --color-yellow: #ffb901;
}

/* Thin */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
/* UltraLight */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
/* Light */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
/* Regular */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
/* Medium */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
/* SemiBold */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
/* Bold */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
/* ExtraBold */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
/* Black */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* Heavy (using weight 950 for Heavy as it's typically heavier than Black) */
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 950;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../../css/fonts/Gilroy/Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 950;
  font-style: italic;
}
@font-face {
  font-family: "Guton";
  src: url("../../css/fonts/Guton/Guton-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Guton";
  src: url("../../css/fonts/Guton/Guton-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Guton";
  src: url("../../css/fonts/Guton/Guton-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Guton";
  src: url("../../css/fonts/Guton/Guton-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Guton";
  src: url("../../css/fonts/Guton/Guton-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Guton";
  src: url("../../css/fonts/Guton/Guton-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  color: inherit;
  font-weight: inherit;
  font-family: Gilroy;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s all;
  cursor: pointer;
  user-select: none;
  font-size: 0.9rem;
}

:root {
  font-size: 20px;
}
@media (max-width: 1800.98px) {
  :root {
    font-size: 19px;
  }
}
@media (max-width: 1700.98px) {
  :root {
    font-size: 18px;
  }
}
@media (max-width: 1600.98px) {
  :root {
    font-size: 17px;
  }
}
@media (max-width: 1500.98px) {
  :root {
    font-size: 16px;
  }
}
@media (max-width: 1400.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 1300.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 1200.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 1100.98px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 1000.98px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 900.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 389.98px) {
  :root {
    font-size: 15px;
  }
}
@media (max-width: 375.98px) {
  :root {
    font-size: 14px;
  }
}
@media (max-width: 345.98px) {
  :root {
    font-size: 13px;
  }
}
@media (max-width: 330.98px) {
  :root {
    font-size: 12px;
  }
}
@media (max-width: 320.98px) {
  :root {
    font-size: 11px;
  }
}
@media (max-width: 300.98px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 1000px) and (orientation: landscape) {
  :root {
    font-size: 8.5px;
  }
}
@media (max-width: 700px) and (orientation: landscape) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 767.98px) and (max-width: 1080px) and (orientation: portrait) {
  :root {
    font-size: 17px;
  }
}
body {
  font-size: 0.9rem;
  box-sizing: border-box;
  font-family: Gilroy;
  font-weight: 400;
  scroll-behavior: smooth;
  background-color: var(--color-bg);
  color: #fff9f2;
}

.container {
  margin: 0 auto;
  max-width: 90rem;
  padding: 0 1rem;
  width: 100%;
}
@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}

.bg-shape {
  position: fixed;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.section__title {
  color: var(--color-primary);
  font-family: Guton;
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.section__subtitle {
  color: var(--color-primary);
  font-family: Guton;
  font-size: 4rem;
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.big-text {
  color: var(--color-primary);
  display: block;
  font-family: Guton;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-size-adjust: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  padding-top: 2rem;
  width: 100%;
  font-size: clamp(20px, 25vw, 17.3rem);
}

.big-text_general {
  color: var(--color-primary);
  font-family: Guton;
  font-size: 16rem;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
}

.big-text_single {
  color: var(--color-primary);
  font-family: Guton;
  font-size: 13.5rem;
  font-weight: 400;
  line-height: 85.185%; /* 85.185% */
}

@media (max-width: 768px) {
  .section__title {
    font-size: 2.7rem;
  }
  .section__subtitle {
    font-size: 2.8rem;
  }
  .big-text {
    font-size: clamp(20px, 18vw, 17.3rem);
  }
  .big-text_general {
    font-size: clamp(20px, 18vw, 17.3rem);
    line-height: 150%;
  }
  .big-text_single {
    font-size: 4.5rem;
    line-height: 100%;
  }
}
.btn {
  transition: all 0.3s;
  padding: 0.75rem 3rem;
  display: inline-block;
  text-align: center;
}
.btn_primary {
  font-family: Gilroy;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 1px solid var(--color-primary);
  transition: all 0.3s ease;
  outline: none;
}
.btn_primary:hover {
  background-color: transparent;
  color: var(--color-primary);
}
.btn_shapable {
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  position: relative;
  border-top: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);
}
.btn_shapable::before, .btn_shapable::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--color-primary);
}
.btn_shapable::before {
  top: -0.25rem;
  left: -0.25rem;
}
.btn_shapable::after {
  bottom: -0.25rem;
  left: -0.25rem;
}
.btn_line-carousel {
  height: 5rem;
  width: 5rem;
  border: 1px solid var(--color-primary);
}
.btn_line-carousel i {
  color: var(--color-primary);
}
.btn_line-carousel:hover {
  background-color: var(--color-primary);
}
.btn_line-carousel:hover i {
  color: var(--color-white);
}
.btn_line {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn_line:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .btn_line-carousel {
    height: 3rem;
    width: 3rem;
  }
}
.icon {
  height: 100%;
  width: 100%;
}
.icon svg {
  height: 100%;
  width: 100%;
}

.socials {
  display: flex;
  gap: 0.5rem;
}
.socials a {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(153, 153, 153, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.socials a i {
  transition: all 0.3s;
  font-size: 1.2rem;
  color: rgba(153, 153, 153, 0.6);
}
.socials a:hover {
  background-color: var(--color-primary);
}
.socials a:hover i {
  color: var(--color-bg);
}

.hoverable {
  overflow: hidden;
  position: relative;
}
.hoverable img,
.hoverable video {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.hoverable:hover img {
  transform: scale(1.1);
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}
.grid-2-3 .section__title-box {
  grid-column: 2/span 1;
  padding-bottom: 2rem;
}
.grid-2-3 .section__title-box p {
  width: 80%;
}

.grid-2-1-1 {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr;
}

.plus-toggle {
  height: 2rem;
  width: 2rem;
  position: relative;
  outline: none;
}
.plus-toggle::before, .plus-toggle::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--color-gray);
  transition: all 0.3s;
}
.plus-toggle::after {
  transform: rotate(90deg);
}
.plus-toggle.active::after {
  transform: rotate(0);
}

.shaped-box {
  padding: 0.3rem;
  height: fit-content;
  position: relative;
}
.shaped-box img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.shaped-box .shape {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--color-primary);
}
.shaped-box .shape_tl {
  left: -0.25rem;
  top: -0.25rem;
}
.shaped-box .shape_tr {
  right: -0.25rem;
  top: -0.25rem;
}
.shaped-box .shape_bl {
  left: -0.25rem;
  bottom: -0.25rem;
}
.shaped-box .shape_br {
  right: -0.25rem;
  bottom: -0.25rem;
}

.border__t {
  border-top: 0.05rem solid var(--color-primary);
}
.border__r {
  border-right: 0.05rem solid var(--color-primary);
}
.border__b {
  border-bottom: 0.05rem solid var(--color-primary);
}
.border__l {
  border-left: 0.05rem solid var(--color-primary);
}
.border__t-r {
  border-top: 0.05rem solid var(--color-primary);
  border-right: 0.05rem solid var(--color-primary);
}
.border__t-l {
  border-top: 0.05rem solid var(--color-primary);
  border-left: 0.05rem solid var(--color-primary);
}
.border__b-r {
  border-bottom: 0.05rem solid var(--color-primary);
  border-right: 0.05rem solid var(--color-primary);
}
.border__b-l {
  border-bottom: 0.05rem solid var(--color-primary);
  border-left: 0.05rem solid var(--color-primary);
}

@media (max-width: 768px) {
  .grid-2-3 {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
  }
  .grid-2-3 .section__title-box {
    grid-column: auto;
    padding-bottom: 0;
  }
  .grid-2-3 .section__title-box p {
    width: 100%;
  }
  .grid-2-1-1 {
    grid-template-columns: 1fr;
  }
}
.mobile-nav {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg);
  display: none;
}
@media (min-width: 768px) {
  .mobile-nav {
    visibility: hidden;
  }
}
.mobile-nav .bg-shape {
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.mobile-nav__wrapper {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  padding: 2.2rem 1.1rem 4rem 1.1rem;
  position: relative;
  border-radius: 0 0 1.5rem 1.5rem;
  display: none;
}
.mobile-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav__bottom {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.mobile-nav__bottom .btn {
  padding: 1rem 0;
  width: 100%;
}
.mobile-nav__close {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: relative;
  display: none;
}
.mobile-nav__close .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mobile-nav__close .icon svg {
  height: 100%;
}
.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 3.5rem 0 1.5rem 0;
  gap: 0.5rem;
}
.mobile-nav__list li {
  width: 100%;
}
.mobile-nav__list__link {
  min-height: 3.5rem;
  display: inline-block;
  width: 100%;
  color: var(--color-white);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s;
  position: relative;
}
.mobile-nav__list__link:hover {
  color: var(--color-primary);
}
.mobile-nav__list__link::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #767676 0%, #171b2a 100%);
}
.mobile-nav__list__link.active {
  padding: 0.9rem 0;
  width: 100%;
  color: var(--color-primary);
}
.mobile-nav__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.mobile-nav__actions .btn_primary {
  height: 2.5rem;
  padding: 0 1.5rem;
}
.mobile-nav__actions .btn_primary i {
  margin-right: 0.5rem;
}
.mobile-nav .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
}
.popup .overlay {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  background: rgba(23, 27, 42, 0.7);
}
.popup.successful .popup__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6rem;
}
.popup.successful .popup__bottom p {
  color: #171b2a;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.8rem;
  line-height: 0.9rem; /* 128.571% */
  width: 80%;
}
.popup.successful .popup-icon {
  background-color: #f6f6f6;
  width: 12.7rem;
  height: 9.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5.75rem;
}
.popup.successful .popup-icon i {
  font-size: 5rem;
  color: #171b2a;
}
.popup__close {
  background-color: var(--color-white);
  position: absolute;
  top: -3.7rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.popup__close svg {
  width: 1rem;
}
.popup__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  max-width: 23.4rem;
  width: 100%;
  height: 28rem;
}
html[dir=rtl] .popup__wrapper {
  top: 50%;
  left: -50%;
  transform: translate(50%, -50%);
}
.popup__wrapper::after {
  content: "";
  position: absolute;
  height: 5%;
  bottom: -0.3rem;
  width: 100%;
  z-index: -7;
  background-color: var(--color-primary);
}
.popup__content {
  width: 100%;
  height: 99%;
  background-color: var(--color-white);
  padding: 2.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.popup__top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
}
.popup__top h3 {
  color: #171b2a;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}
.popup__top p {
  color: #424242;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.popup__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}
.popup__form input {
  height: 3.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(17, 17, 17, 0.15);
  text-align: center !important;
  color: var(--color-primary);
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  transition: all 0.3s;
}
html[dir=rtl] .popup__form input {
  text-align: center !important;
}
.popup__form input:focus {
  border-color: var(--color-primary);
}
.popup__form input[type=number]::-webkit-outer-spin-button, .popup__form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.popup__form button {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}
.popup__form p {
  color: #676767;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 0.9rem; /* 128.571% */
  width: 80%;
}

@media (max-width: 768px) {
  .popup__wrapper {
    top: 100%;
    transform: translate(-50%, -100%);
    max-width: 100%;
    height: 29rem;
  }
  html[dir=rtl] .popup__wrapper {
    top: 100%;
    transform: translate(50%, -100%);
  }
}
.language {
  position: relative;
  color: var(--color-white);
}
.language__icon {
  height: 1.6rem;
  width: 1.6rem;
}
.language button {
  height: 2rem;
  font-size: 0.8rem;
  width: 4rem;
  position: relative;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.language button:hover {
  background-color: var(--color-gray);
}
.language button i {
  transition: all 0.3s;
}
.language button.active i {
  transform: rotate(180deg);
}
.language__body {
  position: absolute;
  border: 1px solid var(--color-primary);
  background-color: var(--color-bg);
  top: 100%;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  display: none;
}
.language__body li {
  width: 100%;
  text-align: center;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.language__body li:hover {
  background-color: var(--color-gray);
}

.card {
  margin-top: 1rem;
  height: 20rem;
}
.card:nth-child(2n+1) {
  height: 25rem;
}
.card:nth-child(2n+1) .card__info {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  border-right: 0.05rem solid var(--color-gray);
  border-left: none;
}
.card:nth-child(2n+1) .card__info::before {
  left: -0.25rem;
}
.card:nth-child(2n+1) .card__info::after {
  left: -0.25rem;
}
.card__info {
  padding: 1.85rem 1.5rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-top: 0.05rem solid var(--color-gray);
  border-left: 0.05rem solid var(--color-gray);
  border-bottom: 0.05rem solid var(--color-gray);
}
.card__info::before, .card__info::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--color-primary);
}
.card__info::before {
  top: -0.25rem;
  right: -0.25rem;
}
.card__info::after {
  bottom: -0.25rem;
  right: -0.25rem;
}
.card__info_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card__info_top h3 {
  color: var(--color-primary);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card__info_top p {
  color: #fff9f2;
  width: 80%;
  margin-top: 0.6rem;
}
.card__info_top a {
  display: inline-block;
  align-self: first baseline;
  width: 6rem;
}
.card__info_top a img {
  width: 100%;
}
.card__info_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__info_bottom-year {
  color: var(--color-primary);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card__info_bottom-number {
  color: var(--color-primary);
  font-family: Guton;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.card__image > div {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.project-card__info {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.project-card__info img {
  width: fit-content;
  max-width: 100%;
  height: fit-content;
}
.project-card__info h3 {
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 500;
}
.project-card__info p {
  margin-top: 0.5rem;
}
.project-card__info a {
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.project-card__info a img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.testimonials__item {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  transition: all 0.3s ease;
  border-top: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
  position: relative;
}
.testimonials__item::before, .testimonials__item::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background-color: var(--color-primary);
}
.testimonials__item::before {
  bottom: -0.25rem;
  left: -0.25rem;
}
.testimonials__item::after {
  bottom: -0.25rem;
  right: -0.25rem;
}
.testimonials__item__text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 160% */
}
.testimonials__item__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials__item__info img {
  height: 3rem;
}
.testimonials__item__info_left {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.testimonials__item__info_left h5 {
  font-weight: 600;
}
.testimonials__item__info_right {
  width: 2.2rem;
  aspect-ratio: 1/1;
}
.testimonials__item__info_stars {
  display: flex;
}
.testimonials__item__info_stars i {
  color: var(--color-yellow);
}
.testimonials__item:hover {
  transform: translateY(-0.5rem);
}

.news-card {
  width: 21.5rem;
  height: 70%;
}
.news-card__image {
  height: 70%;
}
.news-card__info h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  margin: 1rem 0;
}
.news-card__info h3 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.news-card__info p {
  color: #d8cfc1;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

@media (max-width: 768px) {
  .card {
    height: fit-content;
  }
  .card:nth-child(2n+1) {
    height: fit-content;
  }
  .card:nth-child(2n+1) .card__info {
    grid-column: auto;
    grid-row: auto;
    border-left: 0.05rem solid var(--color-gray);
  }
  .card:nth-child(2n+1) .card__info::before {
    bottom: -0.25rem;
    left: auto;
  }
  .card:nth-child(2n+1) .card__info::after {
    bottom: -0.25rem;
  }
  .card__info {
    padding: 1rem;
    height: 15rem;
    border-top: none;
    border-right: 0.05rem solid var(--color-gray);
  }
  .card__info::before {
    top: auto;
    left: auto;
    bottom: -0.25rem;
    right: -0.25rem;
  }
  .card__info::after {
    top: auto;
    right: auto;
    bottom: -0.25rem;
    left: -0.25rem;
  }
  .card__info_top h3 {
    font-size: 1.25rem;
  }
  .card__info_top p {
    width: 100%;
  }
  .card__info_bottom-number {
    font-size: 1.5rem;
  }
  .card__image {
    height: 15rem;
  }
  .testimonials__item {
    padding: 1rem;
    gap: 1.5rem;
  }
  .testimonials__item__text {
    line-height: 1.4rem;
    padding-right: 2rem;
  }
  .news-card {
    width: 100%;
    height: fit-content;
  }
  .news-card__image {
    height: 22rem;
  }
  .news-card__info h4 {
    font-size: 1.2rem;
  }
  .news-card__info h3 {
    font-size: 1.3rem;
  }
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.services-item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-gray);
}
.services-item__head {
  padding: 1.5rem 0 0.9rem;
  transition: all 0.4s;
  position: relative;
}
.services-item__head h4 {
  color: var(--color-white);
  font-family: Guton;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
}
.services-item__head-controll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  width: 100%;
}
.services-item__head-name {
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
}
.services-item__body {
  height: 17rem;
  display: none;
}
.services-item__body-image {
  height: 100%;
}
.services-item__body-info p {
  color: #d8cfc1;
  font-weight: 500;
  line-height: 150%; /* 27px */
  width: 70%;
}
.services-item__body-info .btn {
  padding: 1.2rem 4.5rem;
  margin-top: 2.5rem;
}
.services-item.active .services-item__head h4 {
  color: var(--color-primary);
}
.services-item.active .services-item__head-name {
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .services-item__head button {
    top: -150%;
  }
  .services-item__body {
    height: fit-content;
  }
  .services-item__body-image {
    height: 17rem;
  }
  .services-item__body-info p {
    width: 100%;
  }
  .services-item__body-info .btn {
    margin-top: 1rem;
    width: 100%;
  }
}
.preloader {
  position: fixed;
  height: 100vh;
  background-color: var(--color-bg);
  width: 100vw;
  z-index: 100;
  transition: all 0.8s ease;
}
.preloader__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  z-index: -10;
}
.preloader__bg-shape {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.preloader__logo {
  width: 80%;
  max-width: 35rem;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  animation: bounceIn 2s forwards;
  animation-delay: 0.5s; /* Kerak bo‘lsa kechikish */
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  60% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }
  80% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.preloader__proggress {
  background-color: #6a6a6a;
  width: 80%;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4rem;
  opacity: 0;
  animation: show 1s forwards;
  animation-delay: 2s; /* Kerak bo‘lsa kechikish */
}
.preloader__proggress-tumb {
  background-color: blue;
  position: absolute;
  transition: all 0.3s ease;
  height: 5rem;
  top: -5rem;
  left: 0%;
}
.preloader__proggress-tumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
.preloader__proggress-tumb h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25%;
  color: var(--color-primary);
  font-family: Guton;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@keyframes show {
  0% {
    opacity: 0;
    transform: translate(-50%, 3rem);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.callback__form {
  color: var(--color-white);
}
.callback__form h3 {
  font-family: "Century Gothic";
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.callback__form p {
  width: 80%;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 127.7%; /* 22.986px */
  margin: 1.25rem 0 2rem 0;
}
.callback__form input {
  display: block;
  height: 3rem;
  width: 100%;
  padding: 0.85rem 0;
  border: none;
  border-bottom: 1px solid #bababa;
  outline: none;
  transition: all 0.3s;
  margin-bottom: 2rem;
  background-color: transparent;
}
.callback__form input::placeholder {
  transition: all 0.3s;
}
.callback__form input:focus {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.callback__form input:focus input {
  border-color: var(--color-primary);
}
.callback__form input:focus::placeholder {
  color: var(--color-primary);
}
.callback__form span {
  display: inline-block;
  margin-bottom: 1.5rem;
  color: #8b8b8b;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 160.2%; /* 25.632px */
  max-width: 80%;
}
.callback__form button {
  width: 100%;
}
.callback__form.white {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.callback__form.white h3,
.callback__form.white p {
  color: var(--color-gray);
}
.callback__form.white input {
  background-color: #f5f5f5;
  width: 100%;
}
.callback__form.white button {
  width: 100%;
}

@media (max-width: 768px) {
  .callback__form.white h3 {
    font-size: 1.3rem;
  }
  .callback__form h3 {
    font-size: 1.2rem;
  }
  .callback__form input {
    width: 100%;
  }
  .callback__form span {
    max-width: 100%;
  }
  .callback__form button {
    width: 100%;
  }
}
.splide {
  width: 100%;
  margin-bottom: 0.75rem;
}
.splide.tags-list {
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  margin-top: 5rem;
}
.splide.tags-list .splide__slide {
  all: unset;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.splide.tags-list .splide__slide img {
  all: unset;
  height: 50%;
}
.splide.tags-list .splide__slide span {
  color: var(--color-primary);
  font-family: Guton;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.splide__slide {
  background-color: #212534;
  height: 14rem;
  width: 15rem;
  position: relative;
  transition: all 0.3s;
}
.splide__slide:nth-child(2n+1) {
  height: 18rem;
}
.splide__slide .brand {
  transition: all 0.3s;
}
.splide__slide .bg {
  opacity: 0;
  transform: translateY(-1rem);
  transition: all 0.3s;
  height: fit-content;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-color: var(--color-bg);
}
.splide__slide .bg img {
  position: absolute;
  height: fit-content;
  width: 100%;
  object-fit: cover;
  bottom: 0;
}
.splide__slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 70%;
  object-fit: contain;
  position: absolute;
}
.splide__slide:hover {
  background-color: transparent;
  height: 18rem;
}
.splide__slide:hover .brand {
  transform: translate(-50%, -60%);
}
.splide__slide:hover .bg {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .splide.tags-list {
    margin-top: 3rem;
  }
  .splide__slide {
    height: 8rem;
  }
  .splide__slide:nth-child(2n+1) {
    height: 10rem;
  }
  .splide__slide:hover {
    background-color: transparent;
    height: 10rem;
  }
}
.header {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  height: 6.5rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
}
.header.header__single {
  background-color: transparent;
}
.header .container {
  height: 100%;
}
.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-primary);
  transition: all 0.2s;
}
.header__logo {
  height: 2.6rem;
  transition: all 0.3s;
}
.header__logo img {
  height: 100%;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-left: 5rem;
}
.header__navigation__link {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 101%; /* 16.16px */
  transition: all 0.3s;
  color: var(--color-white);
}
.header__navigation__link:hover, .header__navigation__link.active {
  color: var(--color-primary);
}
.header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.header__actions .call-form__open {
  height: 2.5rem;
  font-size: 0.9rem;
  color: var(--color-white);
}
.header__actions .call-form__open img {
  height: 60%;
  margin-right: 0.5rem;
}
.header__mobile__btn {
  height: 20px;
  width: fit-content;
  display: none;
}
.header__mobile__btn svg {
  fill: var(--color-primary);
}
.header.header__scrolled {
  height: 4.5rem;
  box-shadow: 0 -50px 50px 30px #000;
  margin-top: 0;
}
.header.header__scrolled.header__single {
  background-color: var(--color-bg);
}
.header.header__scrolled .header__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 100vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .header__actions {
    display: none;
  }
  .header__navigation {
    display: none;
  }
  .header__mobile__btn {
    display: flex;
  }
}
.footer {
  margin-top: 5rem;
  overflow: hidden;
  color: var(--color-white);
}
.footer__wrapper {
  display: grid;
  position: relative;
  z-index: 1;
}
.footer__title {
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__address p {
  margin-bottom: 1.5rem;
  color: #d8cfc1;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 70%;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__nav__link {
  color: #d8cfc1;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s;
}
.footer__nav__link.active {
  color: var(--color-primary);
}
.footer__nav__link:hover {
  color: var(--color-primary);
}
.footer__left {
  padding-right: 2rem;
}
.footer__left__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2.5rem;
  gap: 4rem;
}
.footer__left .socials {
  margin: 0;
}
.footer__left .up {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}
.footer__left .up a {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: relative;
  background-color: var(--color-primary);
}
.footer__left .up a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.7rem;
  line-height: 100%;
  color: var(--color-bg);
}
.footer__left .up span {
  font-size: 0.8rem;
  font-weight: 200;
}
.footer__right {
  height: 100%;
  position: relative;
  overflow: visible;
}
.footer__map {
  position: absolute;
  height: 100%;
  width: 100%;
}
.footer__map iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  margin-top: 1rem;
}
.footer__bottom p {
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

@media (max-width: 768px) {
  .footer {
    margin-top: 3rem;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .footer__address p {
    width: 90%;
  }
  .footer__left {
    padding-right: 0;
  }
  .footer__left__wrapper {
    gap: 1rem;
  }
  .footer__left .up {
    justify-content: flex-end;
  }
  .footer__right {
    height: 17rem;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    gap: 0.5rem;
  }
}
.head {
  overflow: hidden;
}
.head__wrapper {
  padding-top: 6.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
  max-height: 53.9rem;
}
.head__carousel {
  height: 100%;
}
.head__carousel .carousel__head {
  height: 100%;
}
.head__carousel-item {
  position: relative;
}
.head__carousel-item__info {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;
}
.head__carousel-item__info-buttons {
  grid-column: 2/span 1;
  padding-bottom: 2.5rem;
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
}
.head__carousel-item__info-buttons a {
  display: inline-block;
  padding: 1.2rem 0;
  width: 11rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 101%; /* 22.22px */
}
.head__carousel-item__image {
  z-index: -1;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.head__carousel-item__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all 0.3s ease;
}
.head__carousel-item:hover .head__carousel-item__image img {
  transform: scale(1.1);
}

.about-us {
  margin-top: 4rem;
}
.about-us__wrapper {
  margin-bottom: 1rem;
}
.about-us__left {
  padding-top: 1rem;
}
.about-us__right p {
  color: #fff9f2;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.about-us__right a {
  padding: 1.2rem 4.2rem;
  margin: 2.5rem 0;
}
.about-us__wrapper-images {
  height: 30rem;
}
.about-us__wrapper-images .about-us__left {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.about-us__wrapper-images .about-us__left .mini-image {
  transition: all 0.3s ease;
}
.about-us__wrapper-images .about-us__left .mini-image.video {
  width: 15rem;
  height: 17rem;
}
.about-us__wrapper-images .about-us__left .mini-image.image {
  width: 13.5rem;
  height: 9.5rem;
}
.about-us__wrapper-images .about-us__left .mini-image.image:hover {
  width: calc(50% + 50px);
  height: 50%;
}
.about-us__wrapper-images .about-us__left .mini-image:hover {
  width: calc(50% + 50px);
  height: 100%;
}
.about-us__wrapper-images .about-us__right .big-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.projects {
  margin-top: 5rem;
}
.projects__title {
  grid-column: 2/span 1;
  padding-bottom: 2rem;
}
.projects__title p {
  width: 70%;
}

.services {
  margin-top: 5.5rem;
}
.services__title {
  grid-column: 2/span 1;
}

.hero-text-section {
  margin-top: 15rem;
}
.hero-text-section .hero-text {
  color: var(--color-primary);
  font-family: Guton;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.hero-text-section .hero-text-item {
  font-size: 7.4rem;
  line-height: 100%;
}
.hero-text-section .hero-text .hero-text-image {
  height: 8rem;
  width: fit-content;
  max-width: 40vw;
  position: relative;
}
.hero-text-section .hero-text .hero-text-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-text-section .hero-text .hero-text-image:nth-child(2) {
  width: 36.7rem;
}
.hero-text-section .hero-text .hero-text-image:nth-child(2) img {
  height: 200%;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.testimonials {
  margin-top: 5rem;
}
.testimonials .section__title {
  line-height: 100%;
}
.testimonials__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.news {
  margin-top: 6rem;
}
.news__wrapper {
  margin-top: 2rem;
  height: fit-content;
  row-gap: 3rem;
}
.news .card-holder {
  height: fit-content;
  display: flex;
}
.news .card-holder.right {
  justify-content: flex-end;
}
.news .card-holder:nth-child(4n+2) .news-card {
  width: 28rem;
  height: 100%;
}

.partners {
  scroll-margin-top: 7rem;
  margin-top: 5rem;
}
.partners__slider {
  margin-top: 2rem;
}

.callback {
  margin-top: 7rem;
}
.callback__head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.callback__head .text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.callback__head .text h2 {
  line-height: 100%;
}
.callback__head .text h2:nth-child(1) {
  margin-right: -2rem;
}
.callback__head .text h2:nth-child(2) {
  margin-right: 6rem;
}
.callback__head img {
  max-height: 10rem;
}
.callback__wrapper {
  margin-top: 2rem;
}
.callback__wrapper img {
  height: 21rem;
  margin-left: 4rem;
}
.callback__wrapper > div {
  display: flex;
  align-items: center;
}
.callback__form {
  width: 25rem;
}

.page-head {
  margin-top: 6.5rem;
}
.page-head__wrapper {
  border-bottom: 1px solid var(--color-primary);
}

.page-head-single {
  position: relative;
  height: 100vh;
}
.page-head-single .container {
  height: 100%;
}
.page-head-single__wrapper {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 2.5rem;
}
.page-head-single__bg {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(0.55);
}
.page-head-single__bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
}

@media (max-width: 768px) {
  .head__wrapper {
    max-height: none;
  }
  .head__carousel-item__info {
    grid-template-columns: 100%;
  }
  .head__carousel-item__info-buttons {
    grid-column: auto;
    padding: 0 1rem 2rem;
    justify-content: center;
    gap: 1rem;
  }
  .head__carousel-item__info-buttons a {
    width: 50%;
  }
  .about-us {
    margin-top: 3rem;
  }
  .about-us__left {
    padding-top: 0;
  }
  .about-us__right a {
    width: 100%;
  }
  .about-us__wrapper-images {
    height: fit-content;
  }
  .about-us__wrapper-images .about-us__left .mini-image {
    pointer-events: none;
  }
  .about-us__wrapper-images .about-us__left .mini-image.video, .about-us__wrapper-images .about-us__left .mini-image.image {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .about-us__wrapper-images .about-us__right {
    grid-row: 1/span 1;
    aspect-ratio: 1/1.2;
  }
  .projects {
    margin-top: 3rem;
  }
  .projects__title {
    grid-column: auto;
    padding-bottom: 0;
  }
  .projects__title p {
    width: 100%;
  }
  .hero-text-section {
    margin-top: 3rem;
  }
  .hero-text-section .hero-text {
    gap: 0.5rem;
  }
  .hero-text-section .hero-text-item {
    font-size: 3rem;
    line-height: 3rem;
  }
  .hero-text-section .hero-text .hero-text-image {
    height: 3rem;
    max-width: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-text-section .hero-text .hero-text-image:nth-child(2) {
    width: 15rem;
  }
  .hero-text-section .hero-text .hero-text-image:nth-child(2) img {
    height: 100%;
    bottom: 0.8rem;
  }
  .hero-text-section .hero-child:nth-child(1) {
    order: 1;
  }
  .hero-text-section .hero-child:nth-child(2) {
    order: 2;
  }
  .hero-text-section .hero-child:nth-child(3) {
    order: 4;
  }
  .hero-text-section .hero-child:nth-child(4) {
    order: 3;
  }
  .hero-text-section .hero-child:nth-child(5) {
    order: 5;
  }
  .hero-text-section .hero-child:nth-child(6) {
    order: 6;
  }
  .hero-text-section .hero-child:nth-child(7) {
    order: 7;
  }
  .hero-text-section .hero-child:nth-child(8) {
    order: 8;
  }
  .hero-text-section .hero-child:nth-child(9) {
    order: 9;
  }
  .testimonials .section__title {
    line-height: 120%;
  }
  .testimonials__wrapper {
    margin-top: 2rem;
    grid-template-columns: 1fr;
  }
  .news {
    margin-top: 4rem;
  }
  .news__wrapper {
    margin-top: 1rem;
    gap: 1.5rem;
  }
  .news .card-holder {
    height: fit-content;
    display: block;
  }
  .news .card-holder:nth-child(4n+2) .news-card {
    width: 100%;
  }
  .partners {
    margin-top: 5rem;
  }
  .partners__slider {
    margin-top: 1rem;
  }
  .callback {
    margin-top: 5rem;
  }
  .callback__head {
    position: relative;
  }
  .callback__head .text {
    align-items: flex-start;
  }
  .callback__head .text h2 {
    font-size: clamp(20px, 10vw, 17.3rem);
  }
  .callback__head .text h2:nth-child(1) {
    margin-right: 0;
  }
  .callback__head .text h2:nth-child(2) {
    margin-right: 0;
  }
  .callback__head img {
    position: absolute;
    right: -1rem;
    top: -3rem;
    width: 30%;
  }
  html[dir=rtl] .callback__head img {
    right: auto;
    left: 0;
  }
  .callback__wrapper img {
    height: auto;
    width: 80%;
    margin-left: 0;
  }
  .callback__wrapper > div {
    justify-content: center;
  }
  .callback__form {
    width: 100%;
  }
  .page-head-single__wrapper {
    padding-bottom: 2rem;
  }
}
.about {
  margin-top: 5rem;
}
.about__wrapper {
  margin: 2rem 0;
}
.about .shaped-box_1 {
  width: 16.25rem;
}
.about .shaped-box_2 {
  width: 26rem;
}
.about .shaped-box_3 {
  width: 16.5rem;
}
.about__left {
  display: flex;
  align-items: flex-end;
}
.about__left.first {
  align-items: flex-start;
}
.about__right-texts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.about__right-texts p {
  font-family: Gilroy;
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%; /* 143.75% */
}
.about__right-images {
  display: flex;
  justify-content: space-between;
}

.overview {
  margin-top: 5rem;
}
.overview .shaped-box_1 {
  width: 13.85rem;
  height: 12.9rem;
}
.overview .shaped-box_2 {
  width: 26.35rem;
  height: 31.3rem;
}
.overview .shaped-box_3 {
  width: 14rem;
  height: 12.9rem;
}
.overview__wrapper {
  margin: 2rem 0;
}
.overview__left {
  display: flex;
  align-items: flex-end;
}
.overview__right h3,
.overview__right p {
  width: 80%;
}
.overview__right h3 {
  color: var(--color-primary);
  font-family: Guton;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem; /* 112.5% */
  margin-bottom: 1.1rem;
}
.overview__right p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 145%; /* 143.75% */
}
.overview__right-images {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.team {
  margin-top: 6rem;
}
.team__wrapper {
  position: relative;
}
.team__control {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
html[dir=rtl] .team__control {
  flex-direction: row-reverse;
}
.team__subtitle {
  color: #d8cfc1;
  font-weight: 500;
  line-height: 150%; /* 27px */
}
.team__carousel {
  grid-column: 2;
  margin-top: 2rem;
  height: 34rem;
  width: 11rem;
}
.team__carousel .swiper {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.team__carousel .swiper-wrapper {
  align-items: flex-end;
}
html[dir=rtl] .team__carousel .swiper-wrapper {
  flex-direction: row-reverse;
  float: right;
}
.team__carousel .swiper-slide {
  height: 40%;
  width: fit-content;
  transform: scale(0.5);
  transition: all 0.8s ease;
  display: flex;
  padding-right: 0;
}
html[dir=rtl] .team__carousel .swiper-slide {
  justify-content: flex-end;
}
.team__carousel .swiper-slide .info {
  top: 0;
  z-index: -1;
  position: absolute;
  transition: all 1s;
  opacity: 0;
}
.team__carousel .swiper-slide .info h5 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.team__carousel .swiper-slide .info p {
  margin-top: 0.75rem;
  line-height: 150%; /* 27px */
}
.team__carousel .swiper-slide .socials {
  z-index: -1;
  opacity: 0;
  bottom: 0;
  position: absolute;
  transition: all 1s;
}
.team__carousel .swiper-slide img {
  height: 100%;
  max-width: 28rem;
  object-fit: cover;
}
.team__carousel .swiper-slide-active {
  transform: scaleX(1);
  height: 100%;
  padding-right: 50rem;
}
.team__carousel .swiper-slide-active .info,
.team__carousel .swiper-slide-active .socials {
  transform: translate(30rem);
  opacity: 1;
}

@media (max-width: 768px) {
  .about {
    margin-top: 4rem;
  }
  .about__wrapper {
    margin: 1rem 0;
  }
  .about .shaped-box_1 {
    display: none;
  }
  .about .shaped-box_2 {
    width: 100%;
  }
  .about__right-texts {
    grid-template-columns: 1fr;
  }
  .about__right-texts p {
    line-height: 150%;
  }
  .about__right-images {
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
  }
  .overview .shaped-box_1 {
    width: 50%;
    height: fit-content;
  }
  .overview .shaped-box_2 {
    width: 100%;
    height: fit-content;
    border: none;
    border-left: 0.05rem solid var(--color-primary);
    border-bottom: 0.05rem solid var(--color-primary);
  }
  .overview .shaped-box_2 .shape_tr {
    top: auto;
    right: auto;
    left: -0.25rem;
    bottom: -0.25rem;
  }
  .overview .shaped-box_3 {
    display: none;
  }
  .overview__wrapper-images {
    display: flex;
    flex-direction: column-reverse;
  }
  .overview__right h3,
  .overview__right p {
    width: 100%;
  }
  .team {
    margin-top: 4rem;
  }
  .team__wrapper {
    display: flex;
    justify-content: center;
  }
  .team__carousel {
    grid-column: auto;
    padding: 5rem 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    height: 30rem;
    width: 5.5rem;
  }
  .team__carousel .swiper-slide .info p {
    margin-top: 0;
  }
  .team__carousel .swiper-slide img {
    max-width: 14rem;
  }
  .team__carousel .swiper-slide-active .info {
    transform: translateY(-4rem);
  }
  .team__carousel .swiper-slide-active .socials {
    transform: translateY(4rem);
  }
}
.project {
  margin-top: 5rem;
}
.project__part {
  margin: 4rem 0;
}
.project__part-2 .shaped-box_1 {
  width: 13.85rem;
  height: 12.9rem;
}
.project__part-2 .shaped-box_2 {
  width: 26.35rem;
  height: 31.2rem;
}
.project__part-2 .shaped-box_3 {
  width: 14rem;
  height: 12.9rem;
  align-self: flex-end;
}
.project__part-3 .project__right {
  grid-column: 2;
}
.project__part-4 .shaped-box_1 {
  width: 13.85rem;
  height: 12.9rem;
  align-self: flex-end;
}
.project__part-4 .shaped-box_2 {
  width: 26.35rem;
  height: 31.3rem;
}
.project__part-4 .shaped-box_3 {
  width: 14rem;
  height: 12.9rem;
  align-self: flex-start;
}
.project__left {
  display: flex;
  align-items: flex-end;
}
.project__left.first {
  align-items: flex-start;
}
.project__right-texts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.project__right-texts p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%; /* 143.75% */
}
.project__right-images {
  display: flex;
  justify-content: space-between;
}

.projects-list {
  margin-top: 5rem;
}
.projects-list .card-holder {
  position: relative;
  display: flex;
  border-top: 1px solid var(--color-primary);
  border-left: 1px solid var(--color-primary);
  height: 100%;
  padding: 0.5rem;
}
.projects-list .card-holder.for__more {
  display: none;
}
.projects-list .card-holder.right {
  justify-content: flex-end;
}
.projects-list .card-holder:nth-child(3n+1) {
  padding-left: 0;
  border-left: none;
  border-right: 1px solid var(--color-primary);
  width: 24rem;
}
.projects-list .card-holder:nth-child(3n+1) .project-card {
  width: 100%;
}
.projects-list .card-holder:nth-child(3n+1) .shape_bl {
  left: auto;
  right: -0.25rem;
}
.projects-list .card-holder:nth-child(3n) {
  padding-right: 0;
  height: 100%;
}
.projects-list .card-holder:nth-child(3n) .project-card {
  width: 100%;
}
.projects-list .card-holder:nth-child(1), .projects-list .card-holder:nth-child(4) {
  width: 24rem;
}
.projects-list .card-holder:nth-child(1) .project-card, .projects-list .card-holder:nth-child(4) .project-card {
  width: 100%;
}
.projects-list .card-holder:nth-child(2) .project-card {
  width: 100%;
  height: 100%;
}
.projects-list .card-holder:nth-child(4), .projects-list .card-holder:nth-child(7) {
  height: fit-content;
}
.projects-list .card-holder:nth-last-child(1), .projects-list .card-holder:nth-last-child(2) {
  height: fit-content;
}

.more_btn-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-top: 2rem;
}
.more_btn-container button {
  grid-column: 2;
  width: fit-content;
}

@media (max-width: 768px) {
  .project {
    margin-top: 4rem;
  }
  .project__part {
    margin: 2rem 0;
  }
  .project__part-2 .shaped-box_1 {
    width: 50%;
    height: fit-content;
  }
  .project__part-2 .shaped-box_2 {
    width: 100%;
    height: fit-content;
  }
  .project__part-2 .shaped-box_3 {
    display: none;
  }
  .project__part-3 .project__right {
    grid-column: auto;
  }
  .project__part-4 .shaped-box_1, .project__part-4 .shaped-box_3 {
    display: none;
  }
  .project__part-4 .shaped-box_2 {
    width: 100%;
    height: 20rem;
  }
  .project__right-texts {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .projects-list {
    margin-top: 5rem;
  }
  .projects-list .card-holder {
    width: 100% !important;
  }
  .projects-list .card-holder .project-card {
    width: 100% !important;
  }
  .more_btn-container {
    display: flex;
    justify-content: center;
  }
  .more_btn-container button {
    width: fit-content;
  }
}
.service {
  margin-top: 5rem;
}
.service__part {
  margin-top: 2rem;
}
.service__part-1 .service__right {
  grid-column: 2;
}
.service__part-2 .shaped-box_1 {
  width: 26.35rem;
  height: 31.3rem;
}
.service__part-2 .shaped-box_2, .service__part-2 .shaped-box_3 {
  width: 13.85rem;
  height: 12.9rem;
}
.service__part-2 .service__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.service__part-2 .service__right .img-box {
  display: flex;
  align-items: flex-end;
}
.service__part-3 .service__right {
  grid-column: 2;
}
.service__part-4 .shaped-box_1 {
  width: 14rem;
  height: 12.9rem;
}
.service__part-4 .shaped-box_2 {
  width: 100%;
  height: 31.15rem;
}
.service__left {
  display: flex;
  align-items: flex-end;
}
.service__left.first {
  align-items: flex-start;
}
.service__right-texts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.service__right-texts p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 120%; /* 143.75% */
}
.service__right-images {
  display: flex;
  justify-content: space-between;
}

.services-general {
  margin-top: 5rem;
}

@media (max-width: 768px) {
  .service {
    margin-top: 3rem;
  }
  .service__part {
    margin-top: 1rem;
  }
  .service__part-1 .service__right {
    grid-column: auto;
  }
  .service__part-2 .shaped-box_1 {
    width: 100%;
    height: fit-content;
  }
  .service__part-2 .shaped-box_2, .service__part-2 .shaped-box_3 {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
  }
  .service__part-2 .service__right {
    grid-column: 1;
    grid-row: 1;
    gap: 2rem;
  }
  .service__part-3 .service__right {
    grid-column: auto;
  }
  .service__part-4 .shaped-box_1 {
    display: none;
  }
  .service__part-4 .shaped-box_2 {
    height: fit-content;
  }
  .service__right-texts {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .services-general {
    margin-top: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
