.footer {
  margin-top: 5rem;
  overflow: hidden;
  color: var(--color-white);

  &__wrapper {
    display: grid;
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__address {
    p {
      margin-bottom: 1.5rem;
      color: #d8cfc1;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 70%;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__link {
      color: #d8cfc1;
      font-family: Gilroy;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: all 0.3s;

      &.active {
        color: var(--color-primary);
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &__left {
    padding-right: 2rem;

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 2.5rem;
      gap: 4rem;
    }
    .socials {
      margin: 0;
    }

    .up {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.75rem;

      a {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        position: relative;
        background-color: var(--color-primary);

        i {
          @include absCenter;
          font-size: 0.7rem;
          line-height: 100%;
          color: var(--color-bg);
        }
      }

      span {
        font-size: 0.8rem;
        font-weight: 200;
      }
    }
  }

  &__right {
    height: 100%;
    position: relative;
    overflow: visible;
  }

  &__map {
    position: absolute;
    height: 100%;
    width: 100%;
    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  &__bottom {
    @include spaced;
    padding: 1.5rem 0;
    margin-top: 1rem;

    p {
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
    }
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 3rem;

    &__wrapper {
      display: flex;
      flex-direction: column-reverse;
      gap: 3rem;
    }

    &__address {
      p {
        width: 90%;
      }
    }

    &__left {
      padding-right: 0;

      &__wrapper {
        gap: 1rem;
      }

      .up {
        justify-content: flex-end;
      }
    }

    &__right {
      height: 17rem;
    }

    &__bottom {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem 0;
      gap: 0.5rem;
    }
  }
}
