.header {
  position: fixed;
  z-index: 20;
  top: 0;
  width: 100%;
  height: 6.5rem;
  transition: all 0.3s;
  @include center;
  background-color: var(--color-bg);

  &.header__single {
    background-color: transparent;
  }

  .container {
    height: 100%;
  }
  &__wrapper {
    height: 100%; // height: 5.35rem;
    @include spaced;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      @include absCenterX;
      background-color: var(--color-primary);
      transition: all 0.2s;
    }
  }

  &__logo {
    height: 2.6rem;
    transition: all 0.3s;
    img {
      height: 100%;
    }
  }

  &__navigation {
    @include spaced;
    gap: 1rem;
    margin-left: 5rem;

    &__link {
      padding: 0.5rem 0.75rem;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 101%; /* 16.16px */
      transition: all 0.3s;
      color: var(--color-white);

      &:hover,
      &.active {
        color: var(--color-primary);
      }
    }
  }

  &__actions {
    @include spaced;
    gap: 1.5rem;

    .call-form__open {
      height: 2.5rem;
      font-size: 0.9rem;
      color: var(--color-white);

      img {
        height: 60%;
        margin-right: 0.5rem;
      }
    }
  }

  &__mobile__btn {
    height: 20px;
    width: fit-content;
    display: none;
    svg {
      fill: var(--color-primary);
    }
  }

  &.header__scrolled {
    height: 4.5rem;
    box-shadow: 0 -50px 50px 30px #000;
    margin-top: 0;

    &.header__single {
      background-color: var(--color-bg);
    }

    .header__wrapper {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100vw;
        @include absCenterX;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__actions {
      display: none;
    }

    &__navigation {
      display: none;
    }

    &__mobile__btn {
      display: flex;
    }
  }
}
