.icon {
  height: 100%;
  width: 100%;
  svg {
    height: 100%;
    width: 100%;
  }
}
.socials {
  display: flex;
  gap: 0.5rem;
  // margin-top: 1rem;

  a {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(153, 153, 153, 0.6);
    @include center;
    transition: all 0.3s;

    i {
      transition: all 0.3s;
      font-size: 1.2rem;
      color: rgba(153, 153, 153, 0.6);
    }

    &:hover {
      background-color: var(--color-primary);

      i {
        color: var(--color-bg);
      }
    }
  }
}

.hoverable {
  overflow: hidden;
  position: relative;
  img,
  video {
    transition: all 0.3s;
    @include fullImg;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.grid-2-3 {
  // background-color: rgba(255, 255, 0, 0.623);
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 1rem;

  // & > div {
  //   // background-color: rgba(255, 0, 0, 0.493);
  // }

  .section__title-box {
    grid-column: 2 / span 1;
    padding-bottom: 2rem;
    p {
      width: 80%;
    }
  }
}

.grid-2-1-1 {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr;
}

.plus-toggle {
  height: 2rem;
  width: 2rem;
  position: relative;
  outline: none;
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: var(--color-gray);
    transition: all 0.3s;
  }

  &::after {
    transform: rotate(90deg);
  }

  &.active {
    &::after {
      transform: rotate(0);
    }
  }
}

.shaped-box {
  // background-color: yellow;
  padding: 0.3rem;
  height: fit-content;
  position: relative;

  img {
    @include fullImg;
  }

  .shape {
    position: absolute;
    height: 0.5rem;
    width: 0.5rem;
    background-color: var(--color-primary);

    &_tl {
      left: -0.25rem;
      top: -0.25rem;
    }
    &_tr {
      right: -0.25rem;
      top: -0.25rem;
    }
    &_bl {
      left: -0.25rem;
      bottom: -0.25rem;
    }
    &_br {
      right: -0.25rem;
      bottom: -0.25rem;
    }
  }
}

.border {
  &__t {
    border-top: 0.05rem solid var(--color-primary);
  }
  &__r {
    border-right: 0.05rem solid var(--color-primary);
  }
  &__b {
    border-bottom: 0.05rem solid var(--color-primary);
  }
  &__l {
    border-left: 0.05rem solid var(--color-primary);
  }

  &__t-r {
    border-top: 0.05rem solid var(--color-primary);
    border-right: 0.05rem solid var(--color-primary);
  }
  &__t-l {
    border-top: 0.05rem solid var(--color-primary);
    border-left: 0.05rem solid var(--color-primary);
  }
  &__b-r {
    border-bottom: 0.05rem solid var(--color-primary);
    border-right: 0.05rem solid var(--color-primary);
  }
  &__b-l {
    border-bottom: 0.05rem solid var(--color-primary);
    border-left: 0.05rem solid var(--color-primary);
  }
}

//_____________________

@media (max-width: 768px) {
  .grid-2-3 {
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
    .section__title-box {
      grid-column: auto;
      padding-bottom: 0;

      p {
        width: 100%;
      }
    }
  }
  .grid-2-1-1 {
    grid-template-columns: 1fr;
  }
}
