.language {
  &__icon {
    height: 1.6rem;
    width: 1.6rem;
  }

  position: relative;
  color: var(--color-white);
  button {
    height: 2rem;
    font-size: 0.8rem;
    width: 4rem;
    position: relative;
    z-index: 6;
    @include center;
    gap: 0.5rem;

    &:hover {
      background-color: var(--color-gray);
    }

    i {
      transition: all 0.3s;
    }

    &.active {
      i {
        transform: rotate(180deg);
      }
    }
  }

  &__body {
    position: absolute;
    border: 1px solid var(--color-primary);
    background-color: var(--color-bg);
    top: 100%;
    z-index: 5;
    width: 100%;
    @include spaced;
    flex-direction: column;
    overflow: hidden;
    display: none;

    li {
      width: 100%;
      text-align: center;
      padding: 0.5rem 0.5rem;
      cursor: pointer;
      @include center;
      gap: 0.1rem;
      &:hover {
        background-color: var(--color-gray);
      }
    }
  }
}
