.head {
  overflow: hidden;
  &__wrapper {
    padding-top: 6.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    max-height: 53.9rem;
  }

  &__carousel {
    height: 100%;
    .carousel__head {
      height: 100%;
    }

    &-item {
      position: relative;
      &__info {
        @include fullImg;

        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 1rem;

        &-buttons {
          grid-column: 2 / span 1;
          padding-bottom: 2.5rem;
          display: flex;
          align-items: flex-end;
          gap: 1.5rem;

          a {
            display: inline-block;
            padding: 1.2rem 0;
            width: 11rem;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 101%; /* 22.22px */
          }
        }
      }
      &__image {
        z-index: -1;
        @include fullImg;
        @include absCenter;
        img {
          @include fullImg;
          transition: all 0.3s ease;
        }
      }

      &:hover & {
        &__image {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.about-us {
  margin-top: 4rem;

  &__wrapper {
    margin-bottom: 1rem;
  }

  &__left {
    padding-top: 1rem;
  }

  &__right {
    p {
      color: #fff9f2;
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      line-height: 150%; /* 30px */
    }

    a {
      padding: 1.2rem 4.2rem;
      margin: 2.5rem 0;
    }
  }

  &__wrapper-images {
    height: 30rem;

    .about-us__left {
      padding: 0;
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      .mini-image {
        transition: all 0.3s ease;
        &.video {
          width: 15rem;
          height: 17rem;
        }
        &.image {
          width: 13.5rem;
          height: 9.5rem;
          &:hover {
            width: calc(50% + 50px);
            height: 50%;
          }
        }

        &:hover {
          width: calc(50% + 50px);
          height: 100%;
        }
      }
    }
    .about-us__right {
      .big-image {
        @include fullImg;
      }
    }
  }
}

.projects {
  margin-top: 5rem;

  &__title {
    grid-column: 2 / span 1;
    padding-bottom: 2rem;

    p {
      width: 70%;
    }
  }
}

.services {
  margin-top: 5.5rem;
  &__title {
    grid-column: 2 / span 1;
  }
}

.hero-text-section {
  margin-top: 15rem;
  .hero-text {
    color: var(--color-primary);
    font-family: Guton;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    &-item {
      font-size: 7.4rem;
      line-height: 100%;
    }

    .hero-text-image {
      height: 8rem;
      width: fit-content;
      max-width: 40vw;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:nth-child(2) {
        width: 36.7rem;

        img {
          height: 200%;
          width: 100%;
          bottom: 0;
          position: absolute;
        }
      }
    }
  }
}

.testimonials {
  margin-top: 5rem;

  .section__title {
    line-height: 100%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}

.news {
  margin-top: 6rem;

  &__wrapper {
    margin-top: 2rem;
    height: fit-content;
    row-gap: 3rem;
  }

  .card-holder {
    height: fit-content;
    display: flex;

    &.right {
      justify-content: flex-end;
    }

    &:nth-child(4n + 2) {
      .news-card {
        width: 28rem;
        height: 100%;
      }
    }
  }
}

.partners {
  scroll-margin-top: 7rem;
  margin-top: 5rem;

  &__slider {
    margin-top: 2rem;
  }
}

.callback {
  margin-top: 7rem;

  &__head {
    @include center;
    gap: 1rem;

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h2 {
        line-height: 100%;
        &:nth-child(1) {
          margin-right: -2rem;
        }
        &:nth-child(2) {
          margin-right: 6rem;
        }
      }
    }

    img {
      max-height: 10rem;
    }
  }

  &__wrapper {
    margin-top: 2rem;

    img {
      height: 21rem;
      margin-left: 4rem;
    }

    & > div {
      display: flex;
      align-items: center;
    }
  }

  &__form {
    width: 25rem;
  }
}

.page-head {
  margin-top: 6.5rem;

  &__wrapper {
    border-bottom: 1px solid var(--color-primary);
  }
}

.page-head-single {
  position: relative;
  height: 100vh;

  .container {
    height: 100%;
  }
  &__wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2.5rem;
  }
  &__bg {
    z-index: -1;
    @include absCenter;
    @include fullImg;
    filter: brightness(0.55);

    img {
      @include absCenter;
      @include fullImg;
      position: absolute;
    }
  }
}

//__###################################################################################___________________________________________________________________________

@media (max-width: 768px) {
  .head {
    &__wrapper {
      max-height: none;
    }

    &__carousel {
      &-item {
        &__info {
          grid-template-columns: 100%;

          &-buttons {
            grid-column: auto;
            padding: 0 1rem 2rem;
            justify-content: center;
            gap: 1rem;

            a {
              width: 50%;
            }
          }
        }
      }
    }
  }

  .about-us {
    margin-top: 3rem;

    &__left {
      padding-top: 0;
    }

    &__right {
      a {
        width: 100%;
      }
    }

    &__wrapper-images {
      height: fit-content;

      .about-us__left {
        .mini-image {
          &.video,
          &.image {
            width: 50%;
            height: auto;
            aspect-ratio: 1/1;
          }
          pointer-events: none;
        }
      }
      .about-us__right {
        grid-row: 1 / span 1;
        aspect-ratio: 1/1.2;
      }
    }
  }

  .projects {
    margin-top: 3rem;
    &__title {
      grid-column: auto;
      padding-bottom: 0;

      p {
        width: 100%;
      }
    }
  }

  .hero-text-section {
    margin-top: 3rem;
    .hero-text {
      gap: 0.5rem;

      &-item {
        font-size: 3rem;
        line-height: 3rem;
      }

      .hero-text-image {
        height: 3rem;
        max-width: 28vw;
        @include center;

        &:nth-child(2) {
          width: 15rem;

          img {
            height: 100%;
            bottom: 0.8rem;
          }
        }
      }
    }

    .hero-child {
      &:nth-child(1) {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
      }
      &:nth-child(3) {
        order: 4;
      }
      &:nth-child(4) {
        order: 3;
      }
      &:nth-child(5) {
        order: 5;
      }
      &:nth-child(6) {
        order: 6;
      }
      &:nth-child(7) {
        order: 7;
      }
      &:nth-child(8) {
        order: 8;
      }
      &:nth-child(9) {
        order: 9;
      }
    }
  }

  .testimonials {
    .section__title {
      line-height: 120%;
    }

    &__wrapper {
      margin-top: 2rem;
      grid-template-columns: 1fr;
    }
  }

  .news {
    margin-top: 4rem;

    &__wrapper {
      margin-top: 1rem;
      gap: 1.5rem;
    }

    .card-holder {
      height: fit-content;
      display: block;

      &:nth-child(4n + 2) {
        .news-card {
          width: 100%;
        }
      }
    }
  }

  .partners {
    margin-top: 5rem;

    &__slider {
      margin-top: 1rem;
    }
  }

  .callback {
    margin-top: 5rem;

    &__head {
      position: relative;
      .text {
        align-items: flex-start;

        h2 {
          font-size: clamp(20px, 10vw, 17.3rem);

          &:nth-child(1) {
            margin-right: 0;
          }
          &:nth-child(2) {
            margin-right: 0;
          }
        }
      }

      img {
        position: absolute;
        right: -1rem;
        top: -3rem;
        width: 30%;

        html[dir="rtl"] & {
          right: auto;
          left: 0;
        }
      }
    }

    &__wrapper {
      img {
        height: auto;
        width: 80%;
        margin-left: 0;
      }

      & > div {
        justify-content: center;
      }
    }

    &__form {
      width: 100%;
    }
  }

  .page-head-single {
    &__wrapper {
      padding-bottom: 2rem;
    }
  }

  //_#######################################################################################################_______________________
}
